= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .input-field.label.center-align
    = f.label :image_link
    = f.text_field :image_link
  .input-field.label.center-align
    = f.label :github_link
    = f.text_field :github_link
  .input-field.label.center-align
    = f.label :link
    = f.text_field :link
  .input-field.center-align 
    = f.label :title
    = f.text_field :title
  .input-field.center-align 
    = f.label :content
    = f.text_area :content
  .input-field.center-align 
    = f.label :tag_list
    = f.text_field :tag_list
  .div
    .btn.waves-effect.waves-light.submit.action
      = button_to :submit , name: "subaction",value: "update"
    .btn.waves-effect.waves-light
      = link_to 'New Tag', new_tag_name_path
