.navbar-fixed
  %nav.color.blue.darken-4
    .nav-wrapper
      %a.brand-logo.center Spencer Christopherson
      %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
        %i.material-icons menu
      %ul.right.hide-on-med-and-down#fb-button
        %li
          %a= link_to 'GitHub', "https://github.com/spencetacular/"
        %li
          %a= link_to 'LinkedIn', "https://www.linkedin.com/in/spencerchristopherson"
      %ul.left.hide-on-med-and-down
        %li
          %a= link_to 'Blog', posts_path 
        %li
          %a= link_to 'Portfolio', projects_path
  %img#profile-img.circle{:alt => "", :src => "http://i.imgur.com/Epv9Gop.jpg"}
.navbar-fixed
  %nav
    .nav-wrapper
      %a.brand-logo.center.salt-font makes things
      %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %ul.left.hide-on-med-and-down#fb-button
        %li
          %a= link_to 'All Posts', posts_path
        %li
          %a= link_to 'Coding', posts_path(sort: "coding")
        %li
          %a= link_to 'Leather', posts_path(sort: "leather")
        %li
          %a= link_to 'Laser', posts_path(sort: "laser")
        %li
          %a= link_to 'Electronics', posts_path(sort: "electronics")
        %li
          %a= link_to 'DIY', posts_path(sort: "DIY")
      %ul.right.hide-on-med-and-down#fb-button
        %li
          -if current_user
            = button_to 'faceBook logout', destroy_user_session_path, method: 'delete', class: 'btn color blue darken-4'
          -else
            = button_to 'faceBook login',"/users/auth/facebook", class: 'btn color blue darken-4'
    %img#profile-img.circle{:alt => "", :src => "http://i.imgur.com/Epv9Gop.jpg"}   
-if current_user && current_user.email == ENV["FACEBOOK_ADMIN_EMAIL"]
  .navbar-fixed
    %nav.color.blue.lighten-2
      .nav-wrapper
        %a.brand-logo.center Administrator
        %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
        %ul.left.hide-on-med-and-down
          -if current_user && current_user.email == ENV["FACEBOOK_ADMIN_EMAIL"]
            %li
              %a= link_to 'New Post', new_post_path
            %li
              %a= link_to 'New Project', new_project_path
    %img#profile-img.circle{:alt => "", :src => "http://i.imgur.com/Epv9Gop.jpg"}

%ul#mobile-demo.side-nav
  -if current_user && current_user.email == ENV["FACEBOOK_ADMIN_EMAIL"]
    %li
      %a= link_to 'New Post', new_post_path
    %li
      %a= link_to 'New Project', new_project_path
  %li
    %a= link_to 'Blog', posts_path
  %li
    %a= link_to 'Portfolio', projects_path
  %li
    %a= link_to 'GitHub', "https://github.com/spencetacular/"
  %li
    %a= link_to 'LinkedIn', "https://www.linkedin.com/in/spencerchristopherson"
  %li
    %a= link_to 'all posts', posts_path
  %li
    %a= link_to 'coding', posts_path(sort: "coding")
  %li
    %a= link_to 'leather', posts_path(sort: "leather")
  %li
    %a= link_to 'laser', posts_path(sort: "laser")
  %li
    %a= link_to 'electronics', posts_path(sort: "electronics")
  %li
    %a= link_to 'DIY', posts_path(sort: "DIY")
  %li
    -if current_user
      = button_to 'faceBook logout', destroy_user_session_path, method: 'delete', class: 'btn color blue darken-4'
    -else
      = button_to 'faceBook login',"/users/auth/facebook", class: 'btn color blue darken-4' 
      