= render(partial: 'nav_bar')
%body.blog-background
- if @posts.any?
  - @posts.each do |post|
    .row
      .col.s10.offset-s1.l6.offset-l3
        .card.grey.lighten-2.z-depth-2
          .card-image
            %img{:src => post.image_link}
              %span.card-title.shadow= post.title
          .card-content.z-depth-2
            -if post.tag_list.any?
              - @tags = post.tag_list
              - @tags.each do |tag|
                .chip.color.grey.lighten-0= tag
            %p= post.created_at.to_date
            %p= post.content 
          .card-action
            %a= link_to 'View', post
            -if current_user && current_user.email == ENV["FACEBOOK_ADMIN_EMAIL"]
              %a= link_to 'Edit', edit_post_path(post)
              %a= link_to 'Delete', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
              / - post.tags.each do |t|
            /   %p= t.name  
          
