%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Content:
  = @post.content

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
= #link_to 'Add Comment', new_comment_path(user_id: @user.id, post_id: @post_id )

